/*---------- BASE ----------*/
*{
margin:0;
padding:0;
box-sizing:border-box;
}
html, body{
width:100%;
display:flex;
flex-direction:column;
align-items: center;
font-family: Arial, Helvetica, sans-serif
}
.container-principal{
    width: 95%;
    max-width: 1280px;
    padding: 0 10px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
  font-size: clamp(16px, 1.5vw, 20px);
}
h1 {
  font-size: clamp(28px, 4vw, 40px);
}
h3 {
  font-size: clamp(20px, 2.5vw, 26px);
}
header{
    width:100vw;
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
nav{
    width: 95%;
    max-width: 1080px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 150px;
    height: 65px;
    margin-right: 10px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    padding: 20px 0;
}
footer{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 20px;
}

/*---------- LAYOUT ----------*/

/*Primeira div-init*/
.div-init{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.init-text{
    padding-bottom: 20px;
}
.init-image{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}
.init-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Segunda div-profissional*/
.div-profissional{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.profissional-box{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prof-heads img{
    width: 100px;
    margin: 15px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Terceira div-services*/
.div-services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.service-list{
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-list ul{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}





/*---------- MODULE ----------*/
/*Nav*/
.button-menu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    background-color: white;


    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}
.button-bar{
    width: 18px;
    border: 1px solid black;
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
.menu-list{
    width: min-content;
    padding: 0px 20px;
    position: absolute;
    top: 60px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    list-style: none;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    
}
.menu-list li{
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    text-decoration: none;
    transition: background 0.2s;
}
.menu-list li:hover{
    background-color: #333;
}
.border-none{
    border: none!important;
}

/*Carousel*/
.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.slides-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    z-index: 1;
}
.slide{
    width: 100%;
    aspect-ratio: 1 / 1; /* largura : altura */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.slide-text{
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}
.carousel-buttons{
    width: 100%;
    position: absolute;
    padding: 10px;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    top: 45%;
}
.fas{
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.fa-chevron-left, .fa-chevron-right{
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
}

/*contact-button*/
.contact-button{

  display: inline-block;
  padding: 10px 20px;
  background: green;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

/*Botão flutuante whatsapp*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366; /* Cor do WhatsApp */
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Certifique-se de que o botão esteja acima de outros elementos */
}
/*---------- STATE ----------*/

/*---------- THEME ----------*/

@media (min-width: 768px) {
    .container-principal{
        outline: 1px dashed yellow;
        width: 90%;
    }
    nav{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .div-init{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        padding: 20px 0;
    }
    .init-image{
        height: fit-content;
    }
    
}
@media (min-width: 1024px) {
    .container-principal{
        outline: 1px solid green;
    }
    nav{
        width: 70%;
        padding: 0 60px;
    }
    .div-init{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 30px;
    }
    .init-image{
        min-width: 400px;
        width: 400px;
        height: fit-content;
    }
}
@media (min-width: 1280px) {
    .container-principal{
        outline: 1px dashed red;
    }
    nav{
        padding: 0 80px;
    }
    .div-init{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 40px;
    }
    h1{
        font-size: 36px;
    }
    h3{
        font-size: 24px;
    }
    
}